html{
    max-width: 750px;
    margin: 0px auto;
}

header {
    text-align: center;
    color: dimgray;
}

.linha {
    margin: 0px 0px;
    height: 18px;
    vertical-align: middle;
}

.linha p {
    display: inline-block;
    margin: 0px;
}

.logo {
    height: 16px;
    vertical-align: middle;
    margin: 0px;
}

.logo:hover {
    transform: scale(1.1);
}

body h3 {
    color: steelblue;
    border-bottom: 1px solid ;
}

.profissional {
    list-style: none;
    padding: 0px;
}

ul p {
    padding: 0px 0px 4px 2.5%;
    margin: 0px;
    text-align: justify;
    font-size: 14px;
    display: inline-block;
}

ul a {
    color: black;
    text-decoration: none;
    font-size: 75%;
    }

ul a:hover {
    color: rgb(49, 88, 119);
    font-size: 80%;
    }

footer {
    margin: 40px 0px;
    text-align: right;
}

footer p {
    margin: 0px;
}